# Question 2
### Housing
### Step 1. Import the necessary libraries
### Create 3 differents Series, each of length 100, as follows:
### The first a random number from 1 to 4
### The second a random number from 1 to 3
### The third a random number from 10,000 to 30,000

In [23]:
import pandas as pd
import random

first_series = [[random.randint(1, 4)] for _ in range(100)]
data_frame_one = pd.DataFrame(first_series)

second_series = [[random.randint(1, 3)] for _ in range(100)]
data_frame_two = pd.DataFrame(second_series)

third_series = [[random.randint(10000, 30000)] for _ in range(100)]
data_frame_three = pd.DataFrame(third_series)

### Create a DataFrame by joinning the Series by column

In [24]:
housing = pd.concat([data_frame_one, data_frame_two, data_frame_three], axis = 1)

### Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [25]:
housing.columns = ["bedrs", "bathrs", "price_sqr_meter"]

### Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [26]:
bigcolumn = pd.concat([data_frame_one, data_frame_two, data_frame_three], axis = 0)
bigcolumn

        0
0       3
1       2
2       4
3       2
4       2
..    ...
95  28356
96  22393
97  24012
98  25471
99  21690

[300 rows x 1 columns]

### Ops it seems it is going only until index 99. Is it true?
### Yes

### Reindex the DataFrame so it goes from 0 to 299

In [27]:
bigcolumn.reset_index(drop = True)

         0
0        3
1        2
2        4
3        2
4        2
..     ...
295  28356
296  22393
297  24012
298  25471
299  21690

[300 rows x 1 columns]