# Question 4
### Wind Statistics
### Import the necessary libraries
### Import the dataset from this address
### Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [93]:
import pandas as pd

url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data"

data = pd.read_csv(url,delimiter = "\s+", header = 0, parse_dates = [[0,1,2]] )
data

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [94]:
data["Yr_Mo_Dy"]

0      2061-01-01
1      2061-01-02
2      2061-01-03
3      2061-01-04
4      2061-01-05
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: datetime64[ns]

### Yes

In [95]:
import datetime

def validate_date(date):
    year = date.year
    if date.year > 2020:
        year = date.year - 100
    return datetime.date(year, date.month, date.day)

data["Yr_Mo_Dy"] = data["Yr_Mo_Dy"].apply(validate_date)

data["Yr_Mo_Dy"]

0       1961-01-01
1       1961-01-02
2       1961-01-03
3       1961-01-04
4       1961-01-05
           ...
6569    1978-12-27
6570    1978-12-28
6571    1978-12-29
6572    1978-12-30
6573    1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: object

### Set the right dates as the index. Pay attention at the data type, it should be datetime64

In [96]:
data["Yr_Mo_Dy"] = pd.to_datetime(data["Yr_Mo_Dy"])
data.set_index("Yr_Mo_Dy", inplace = True)
data.index.names
data.index.get_level_values(0).dtype

dtype('<M8[ns]')

### Compute how many values are missing for each location over the entire record.They should be ignored in all calculations below.

In [97]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Compute how many non-missing values there are in total.

In [98]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
### A single number for the entire dataset.

In [99]:
#data.fillna(0).values.flatten().mean()
data.mean().mean()

10.227982360836924

### Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days
### A different set of numbers for each location.

In [102]:
loc_stats = pd.DataFrame()

loc_stats["min_wind_speed"] = data.min()
loc_stats["max_wind_speed"] = data.max()
loc_stats["mean_wind_speed"] = data.mean()
loc_stats["std_dev_wind_speed"] = data.std()

loc_stats

,min_wind_speed,max_wind_speed,mean_wind_speed,std_dev_wind_speed
RPT,0.67,35.80,12.362987,5.618413
VAL,0.21,33.37,10.644314,5.267356
ROS,1.50,33.84,11.660526,5.008450
KIL,0.00,28.46,6.306468,3.605811
SHA,0.13,37.54,10.455834,4.936125
BIR,0.00,26.16,7.092254,3.968683
DUB,0.00,30.37,9.797343,4.977555
CLA,0.00,31.08,8.495053,4.499449
MUL,0.00,25.88,8.493590,4.166872
CLO,0.04,28.21,8.707332,4.503954
BEL,0.13,42.38,13.121007,5.835037
MAL,0.67,42.54,15.599079,6.699794
min_wind_speed,NaN,NaN,NaN,NaN
max_wind_speed,NaN,NaN,NaN,NaN
mean_wind_speed,NaN,NaN,NaN,NaN
std_dev_wind_speed,NaN,NaN,NaN,NaN

### Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.
### A different set of numbers for each day.

In [104]:
day_stats = pd.DataFrame()

day_stats["min_wind_speed"] = data.min(axis = 1)
day_stats["max_wind_speed"] = data.max(axis = 1)
day_stats["mean_wind_speed"] = data.mean(axis = 1)
day_stats["std_wind_speed"] = data.std(axis = 1)
 
day_stats.head(10)

            min_wind_speed  max_wind_speed  mean_wind_speed  std_wind_speed
Yr_Mo_Dy
1961-01-01            9.29           18.50        13.018182        2.808875
1961-01-02            6.50           17.54        11.336364        3.188994
1961-01-03            6.17           18.50        11.641818        3.681912
1961-01-04            1.79           11.75         6.619167        3.198126
1961-01-05            6.17           13.33        10.630000        2.445356
1961-01-06            4.42           13.21         8.240000        2.998063
1961-01-07            4.96           14.29        10.385000        3.072114
1961-01-08            5.91           16.62        10.487500        3.547237
1961-01-09            4.75           15.37         9.897500        2.905954
1961-01-10            6.54           19.50        10.477500        3.442610

### Find the average windspeed in January for each location.
### Treat January 1961 and January 1962 both as January.

### Downsample the record to a yearly frequency for each location.

In [ ]:
### Downsample the record to a monthly frequency for each location.

### Downsample the record to a weekly frequency for each location.

### Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations
### for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.